.cards {
    margin-top: 21px;
    overflow-y: auto; /* scroll só aparece se precisar */
    overflow-x: hidden;
    display: grid;
    height: calc(100vh - 352px);
    grid-template-columns: repeat(2, 1fr); /* padrão: 2 colunas */
    gap: 11px; /* reduzido de 0.75rem (~12px) */
    padding-bottom: 1.5rem; /* pb-6 */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 246px;
    height: 450px;
    border: 1px solid var(--border-color);
    border-radius: 12.75px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 9;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}

.card .img {
    position: relative;
    background-color: var(--img-bg);
}

.card .img img {
    width: 244px;
    height: 244px;
    border-radius: 12.75px;
    transition: transform 0.3s ease; /* opcional: anima suave */
}

.card:hover .img img {
    transform: scale(1.1); /* aumenta 10% no X e Y */
}

.card .img .discount {
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: var(--remove-color);
    padding: 3.5px 7px;
    color: var(--white);
    font-size: 10.5px;
    font-weight: 500;
    border-radius: 6.75px;
}

.card .information {
    padding: 14px 14px 21px 14px;
}

.card .information .category {
    margin-bottom: 7px;
    display: flex;
    gap: 3px;
}

.card .information .category .text {
    color: var(--primary);
    font-size: 10.5px;
    font-weight: 400;
    background-color: var(--info-bg);
    padding: 1.75px 7px;
    border-radius: 6.75px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card .information .info h2 {
    margin-bottom: 7px;
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
}

.card .information .info .quality {
    display: flex;
    align-items: center;
    margin-bottom: 10.5px;
}

.card .information .info .quality .material-symbols-outlined {
    color: var(--star-color);
    font-size: 20px;
}

.card .information .info .quality .text {
    color: var(--title-color);
    font-size: 12.25px;
    font-weight: 500;
    margin-right: 3px;
}

.card .information .info .quality .available {
    color: var(--text-color);
    font-size: 12.25px;
}

.card .information .info .price {
    margin-bottom: 10.5px;
    display: flex;
    gap: 7px;
    align-items: center;
}

.card .information .info .price .current {
    color: var(--primary);
    font-size: 17.5px;
    font-weight: 700;
}

.card .information .info .price .old {
    font-size: 12.25px;
    color: var(--text-color);
    font-weight: 700;
}

.card .information .info button {
    background-color: #030213e6;
    color: var(--white);
    font-size: 12.25px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6.75px;
    width: 100%;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: all 0.5s;
}

.card .information .info button:hover {
    background: var(--btn-hover);
}

.card .information .info button .material-symbols-outlined {
    font-size: 18px;
}

/* sm: 640px */
/* sm: 640px */
@media (min-width: 640px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px; /* reduzido de 1rem (~16px) */
    }
}

/* md: 768px */
@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* lg: 1024px */
@media (min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 21px; /* reduzido de 1.5rem (~24px) */
    }
}

/* xl: 1280px */
@media (min-width: 1280px) {
    .cards {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1535px) {
    .card {
        width: 202px;
        height: 422px;
    }

    .card .img img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1024px) {
    .card {
        width: 205px;
        height: 426px;
    }

    .card .img img {
        width: 202px;
        height: 202px;
    }
}

@media (max-width: 768px) {
    .card {
        width: 260px;
        height: 462px;
    }

    .card .img img {
        width: 257px;
        height: 257px;
    }
}

@media (max-width: 639px) {
    .card {
        width: 100%;
        min-width: 168px;
        height: auto; /* altura automática */
        max-height: none; /* remove limite */
        min-height: auto; /* remove limite */
    }

    .card .img img {
        width: 100%;
        height: auto; /* mantém proporção da imagem */
    }

    .card .information {
        padding: 10.5px 10.5px 21px 10.5px;
    }
}
