@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

:root {
    --bg-color: #fff;
    --header-color: #1e2939;
    --heder-border-color: #e5e7eb;
    --input-text: #0a0a0a;
    --input-border: #d1d5db;
    --condition-color: #4a5565;
}

* {
    font-family: "Roboto Flex", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    background-color: var(--bg-color);
}

header {
    padding: 24px 99.5px;
    border-bottom: 1px solid var(--heder-border-color);
}

header h1 {
    color: var(--header-color);
    font-size: 24px;
    font-weight: 500;
}

@media (max-width: 637px) {
    header {
        padding: 16px;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

main .cities-div {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 396px; /* ou o valor que quiser */
}

main .cities-div .input input {
    width: 100%;
    max-width: 396px;
    min-width: 302px;
    padding: 12px;
    background: none;
    color: var(--input-text);
    border-radius: 10px;
    outline: none;
    border: 1.1px solid var(--input-border);
}

main .cities-div .cities {
    border: 1.1px solid var(--input-border);
    padding: 16px;
    color: var(--input-text);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 564px;
    overflow-y: scroll;
}

main .cities-div .cities .city {
    padding: 16px;
    border: 1.1px solid var(--input-border);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

main .cities-div .cities .city:hover {
    background-color: #f5f5f5;
}

main .cities-div .cities .city .name-condition {
    display: flex;
    flex-direction: column;
}

main .cities-div .cities .city .name-condition .name {
    font-size: 18px;
    font-weight: 500;
}

main .cities-div .cities .city .name-condition .condition {
    font-size: 16px;
    font-weight: 400;
    color: var(--condition-color);
}

main .cities-div .cities .city .temperture {
    font-size: 16px;
    font-weight: 400;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}
