header {
    border-bottom: 1px solid #ccc;
    width: 100vw;
}

header .header {
    padding: 14px;
    max-width: 1344px;
    min-width: 320px;
    height: 56px;
    margin: auto;
}

header .header .flex-itens {
    display: flex;
    justify-content: space-between;
    color: var(--primary);
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: calc(0.25rem * 2);
    text-decoration: none;
}

.logo a h1 {
    font-weight: 700;
    font-size: 25px;
}

.logo a:visited {
    color: var(--primary);
}

.shopping-cart {
    border: 1px solid #ccc;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.shopping-cart span {
    font-size: 20px;
}

.shopping-cart:hover {
    background-color: #bbb;
}

@media (max-width: 1535px) {
    header .header {
        max-width: 1120px;
    }
}

@media (max-width: 1279px) {
    header .header {
        max-width: 896px;
    }
}

@media (max-width: 1024px) {
    header .header {
        max-width: 672px;
    }
}

@media (max-width: 768px) {
    header .header {
        max-width: 560px;
    }
}

@media (max-width: 639px) {
    header .header {
        max-width: none;
        margin: 0;
    }
}
