.categories {
    width: 194px;
    height: 225px;
    padding: 10.5px;
    border: 1px solid var(--border-color);
    box-shadow: 1px 1px 1px 1px var(--border-color);
    border-radius: 0.625rem;
    position: absolute;
    top: 130px;
    background-color: var(--white);
    transition: all 0.3s;
}

.fadeIn {
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.categories .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 7px;
}

.categories .title h2 {
    font-size: 16px;
    color: var(--title-color);
}

.categories .clear {
    font-size: 14.5px;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s;
}

.categories .clear:hover {
    color: var(--title-color);
    background: var(--hover-bg);
    border-radius: 30%;
}

.categories .scroll {
    overflow-y: scroll;
    width: 173px;
    height: 168px;
}

.select {
    margin-bottom: 7px;
}

.checkbox {
    display: flex;
    justify-content: start;
    align-items: center;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    width: 16px; /* igual ao span */
    height: 16px;
    margin: 0;
    z-index: 1;
    cursor: pointer;
}

.checkbox .material-symbols-outlined {
    margin-right: 7px;
    width: 14px;
    height: 14px;
    border: 1px solid #0000001a;
    background-color: #f3f3f5;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: transparent;
    transition: 0.2s;
}

.checkbox .material-symbols-outlined.active {
    color: var(--white);
    background-color: var(--primary);
}

.checkbox span {
    cursor: pointer;
}

.checkbox .text {
    color: var(--title-color);
    font-weight: 500;
}

.checkbox input:checked + .material-symbols-outlined {
    color: var(--white);
    background-color: var(--primary);
}

.checkbox input:checked + .material-symbols-outlined ~ .text {
    font-weight: 400;
}

.price-filters {
    background-color: var(--white);
    border: 1px solid var(--border-color);
    padding: 14px;
    border-radius: 0.625rem;
    width: 280px;
    box-shadow: 1px 1px 1px 1px var(--border-color);
    position: absolute;
    top: 130px;
    left: 166px;
    transition: all 0.3s;
}

.price-filters h2 {
    font-size: 14px;
    color: var(--title-color);
    margin-bottom: 10.5px;
}

.price-filters .price-itens {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    font-weight: 600;
    font-size: 12.25px;
    margin-bottom: 10.5px;
}

.price-filters h3 {
    font-size: 12.25px;
    color: var(--text-color);
    margin-bottom: 7px;
}

.price-filters .slide {
    height: 14px;
}

.price-filters .slide:first-child {
    margin-bottom: 10.5;
}

input[type="range"] {
    appearance: none;
    width: 100%;
    height: 16px;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
}

/* parte antes do thumb – preta */
input[type="range"]::-moz-range-progress {
    background-color: black;
    height: 14px;
    border-radius: 30px;
}

/* track inteira – cinza ou outra cor */
input[type="range"]::-moz-range-track {
    background-color: #ddd;
    height: 14px;
    border-radius: 30px;
}

input[type="range"]::-moz-range-thumb:hover {
    border: 5px solid var(--text-color);
    border-radius: 50%;
    transition: all 0.1s;
}

.price-filters .price {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 14px;
    padding-bottom: 14px;
}

.rating .rate-itens {
    display: flex;
    justify-content: space-between;
    font-size: 12.25px;
    color: var(--title-color);
    margin-bottom: 7px;
}

@media (max-width: 460px) {
    .price-filters {
        right: 10px;
        left: auto;
    }
}

.order-div {
    background-color: var(--white);
    border: 1px solid var(--border-color);
    box-shadow: 1px 1px 1px 1px var(--border-color);
    width: 170px;
    height: 147px;
    border-radius: 0.625rem;
    padding: 3.5px;
    position: absolute;
    top: 130px;
    right: 12px;
    transition: all 0.3s;
}

.order-div .select-item {
    padding: 5.25px 7px;
    display: flex;
    justify-content: space-between;
    font-size: 12.25px;
    color: var(--title-color);
    width: 161px;
    height: 28px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 6.75px;
}

.order-div .select-item:hover {
    background: var(--hover-bg);
}

.order-div .select-item .material-symbols-outlined {
    font-size: 20px;
}

@media (max-width: 639px) {
    .order-div {
        right: auto;
        left: 15px;
        top: 175px;
    }
}
