header {
    padding: 22px 0 20px 0;
    box-shadow: var(--shadow);
    width: 100vw;
    min-width: 375px;
}

header .switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

header .switcher span {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
    color: var(--text-black);
}

header .switcher span:active {
    color: var(--green);
}

header .switcher span.active {
    color: var(--green);
}
